<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Home </a>
  <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item " >
              <a class="nav-link" routerLink="/users"  routerLinkActive="myCostumeActive">list users </a>
          </li>
          <li class="nav-item ">
              <a class="nav-link" routerLink="/add-user"  routerLinkActive="myCostumeActive">add users</a>
          </li>
          
      </ul>
  </div>
</nav>
